:root {
  --text-blue: hsl(238, 29%, 16%);
  --text-dkblue: hsl(240, 6%, 50%);
  --text-xdkblue: hsl(237, 12%, 33%);
  --text-red: hsl(14, 88%, 65%);
  --gradient-violet: hsl(273, 75%, 66%);
  --gradient-blue: hsl(240, 73%, 65%);
  --divider-blue: hsl(240, 5%, 91%);
}

html {
  box-sizing: border-box;
  font-size: 100%; /* para accesibilidad */
}

*, *::before, *::after {
  box-sizing: inherit;
  
}

body {
  min-height: 100vh; /*21.43*/
  margin: 0;
  padding: 10rem 1rem;
  font-family: 'Kumbh Sans', sans-serif;
  background-image: linear-gradient(var(--gradient-violet), var(--gradient-blue));
  color: var(--text-blue);
}

/* CARD */
/* CARD - MOBILE */
.card {
  background: #ffffff;
  border-radius: 2rem;
  max-width: 56rem;
  background-image: url(./images/bg-pattern-mobile.svg);
  background-size: 15rem;
  background-repeat: no-repeat;
  background-position: center 0%;
}

.card__box {
  display: none;
}

.card__image {
  position: relative;
}

.card__image img {
  position: absolute;
  top: -6.8rem;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 100%;
  max-width: 15rem;
  height: auto;
  
}

.card__text {
  padding-top: 7rem;
  
} 

/* ACCORDION */
.accordion__question {
  border: none;
  background: transparent;
  padding: 0;
  font-size: 0.875rem;
  font-family: 'Kumbh Sans', sans-serif; /*1.09.30 por algún motivo obligadamente hay q definir el font family para el botón. */
}

/* DESKTOP */
@media (min-width: 56em) {
  body {
    padding: 5rem;
  }

  /* CARD - DESKTOP */
  .card {
    position: relative;
    display: flex;
    margin: 0 auto;
    padding-right: 2rem;
    background-image: url(./images/bg-pattern-desktop.svg);
    background-size: 45%;
    background-repeat: no-repeat;
    background-position: -13% center;
  }

  .card__box {
    display: block;
    position: absolute;
    z-index: 1;
    top: 57%;
    left: 0;
    transform: translateX(-50%) translateY(-50%);
  }

  .card__image,
  .card__text {
    flex: 1;
  }
  
  .card__image {
    display: flex;
    align-items: center;
    overflow: hidden;
  }

  .card__image img{
    position: relative;
    top: auto;
    left: auto;
    transform: translateX(-4rem);
    max-width: 25rem;
  }
  
  .card__text {
    padding-top: 0;
  } 
}